ConnectionStrings__DefaultConnection=Server=host.docker.internal,1433;Database=BlogDB;User Id=bloglab_user;Password=change-me;TrustServerCertificate=True;Encrypt=False
Jwt__Key=A$Fd3vL0ng@$$p@!!W0rd#
CloudinaryOptions__CloudName=afdev
CloudinaryOptions__ApiKey=
CloudinaryOptions__ApiSecret=
